<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"><head>
    <meta charset="utf-8">
    <title>{$favicon['site_name']}</title>
    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="__ADMIN__/style/bootstrap.css" rel="stylesheet">
    <link href="__ADMIN__/style/font-awesome.css" rel="stylesheet">
    <link href="__ADMIN__/style/weather-icons.css" rel="stylesheet">
    <link href="__ADMIN__/style/houqi.css" rel="stylesheet">
    <link rel="icon" href="__FAICON__/favicon.ico" type="image/x-icon" />

    <!--Beyond styles-->
    <link id="beyond-link" href="__ADMIN__/style/beyond.css" rel="stylesheet" type="text/css">
    <link href="__ADMIN__/style/demo.css" rel="stylesheet">
    <link href="__ADMIN__/style/typicons.css" rel="stylesheet">
    <link href="__ADMIN__/style/animate.css" rel="stylesheet">
    <!--鼠标点击事件-->
    <script src="__ADMIN__/style/jquery-1.9.0.min.js"></script>
    <!--无刷新删除-->
    <script type="text/javascript">
        function del_all(){
            document.action.action="{:url('Recruit/del_all')}";
            document.action.submit();

        }
    </script>
</head>

<body>
<!-- 头部 -->
{include file='public/top'/}
<!-- /头部 -->

<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
        {include file='public/left'/}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">控制面板</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <div class="page-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">招聘信息</span>
                            </div>

                            <div style="float: left"><button type="button"  class="btn shiny " onClick="javascript:window.location.href = 'recruitAdd'" style="margin:10px 0 0 15px">
                                <i class="fa fa-plus"></i> 添加招聘
                                </button>
                            </div>
                            <form  name="action" class="form-horizontal" role="form"  method="post" enctype="multipart/form-data" action="">
                            <div style="float: left">
                                <button class="btn shiny  " type="submit" name="action" value="del_all" onclick="del_all()" style="margin:10px"><i class="fa fa-trash-o"></i> 批量删除</button>
                            </div>

                                <div class="row pricing-container">

                                    <table class="table table-bordered table-hover" >
                                        <tbody>
                                        <tr >
                                            <th style="width: 10px">
                                                <label>
                                                    <input class="checkboxes" value="chkall" type="checkbox"   name="chkall" id="selectAll"   >
                                                    <span class="text"></span>
                                                </label>
                                            </th>
                                            <th style="text-align: center" width="10%">职位</th>
                                            <th style="text-align: center" width="10%">薪资</th>
                                            <th style="text-align: center" width="10%">添加时间</th>
                                            <th style="text-align: center" width="60%">入职要求</th>
                                            <th style="text-align: center" width="10%">操作</th>
                                        </tr>
                                        {volist name="Recruit" id="RecruitRes"}
                                        <tr >
                                            <td>
                                                <label>
                                                    <input class="checkboxes" value="{$RecruitRes.id}" type="checkbox"   name="checkbox[]">
                                                    <span class="text"></span>
                                                </label>
                                            </td>
                                            <td style="text-align: center">{$RecruitRes.title|cut_text=6}</td>
                                            <td style="text-align: center">{$RecruitRes.salary|cut_text=12}</td>
                                            <td style="text-align: center">{$RecruitRes.time|date="Y-m-d",###}</td>
                                            <td style="text-align: center">{$RecruitRes.requirement}</td>
                                            <td style="text-align: center">
                                                <a href="{:url('recruitEdit',array('id'=>$RecruitRes['id']))}"><button class="btn shiny btn-primary " type="button">编辑</button></a>
                                                <a href="{:url('recruitDel',array('id'=>$RecruitRes['id']))}"><button class="btn shiny btn-danger " type="button">删除</button></a>
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                            </div>
                            </form>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
</div>
<!--Basic Scripts-->
<script src="__ADMIN__/style/jquery_002.js"></script>
<script src="__ADMIN__/style/bootstrap.js "></script>
<script src="__ADMIN__/style/jquery.js"></script>
<!--Beyond Scripts-->
<script src="__ADMIN__/style/beyond.js"></script>
<script type="text/javascript">
    $(function(){
        $("#selectAll").bind("click",function(){
            if($(this).prop("checked")){
                $("input[type='checkbox']").not(this).prop("checked",true);
            }else{
                $("input[type='checkbox']").not(this).prop("checked",false);
            }
        });
    });
</script>
</body>
</html>